In [ ]:
#ex1
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
#ex2
def factorial(n): 
    if n == 0:
        return 1
    return n * factorial(n-1)
num = int(input("Enter a number: "));
print("Factorial of", num, "is",
factorial(num))

Enter a number: 5
Factorial of 5 is 120

In [ ]:
#ex3
number = int(input("Type a number: "))
numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i
print(numberDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#ex4
def remove_char(str, n):
      first_part = str[:n] 
      last_part = str[n+1:]
      return first_part + last_part
print(remove_char('kitten', 1))
print(remove_char('kitten', 0))
print(remove_char('kitten', 4))

ktten
itten
kittn

In [ ]:
#ex5
import numpy as np
new_array=np.array([[0,1],[2,3],[4,5]])
new_list=new_array.tolist()
print(new_list)

[[0, 1], [2, 3], [4, 5]]

In [25]:
#ex6
import numpy as np
array1 = np.array([0, 1, 2])
array2 = np.array([2, 1, 0])
print(np.cov(array1, array2))

[[ 1. -1.]
 [-1.  1.]]

In [ ]:
#ex7
import math
numbers=input("Provide D: ")
numbers=numbers.split(',')
result_list= []
for D in numbers:
    Q=round(math.sqrt(2*50*int(D)/30))  
    result_list.append(Q)
print(result_list)

Provide D: 100,150,180
[18, 22, 24]